
.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img{
width: 30px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color: #101928;
}
.nav ul{
    display: flex;
    gap:16px;
}
.header .auth a{
    font-family: var(--subFont);
    padding: 10px 30px;
}
.header .auth a:first-of-type{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color:#fff;
}
.footer{
    background-color: #393e46;
    color: #fff;
    padding: 50px 0;
}
.footer a{
    color:#fff;
}
.footer .row{
    gap:40px;
}
.footer .footer-start,.footer .footer-end{
    width: calc( (100% - 40px) / 2 );
}
.footer .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.footer-start .logo img{
    width:30px;
}
.footer-start{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.footer-start .icons{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.footer-start .icons img{
    border: 1px solid #fff;
    width:15px;
    height:15px;
    padding: 5px;
    box-sizing: content-box;
}
.footer-start p{
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    gap:30px;
    flex-wrap: wrap;
}

.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-end .footer-item ul a{
    font-size: 14px;
    font-weight: 200;
}